<h1>Checkbox implementation</h1>

    {{#each model as |user|}}
      <div {{action "notifyChecked" user on="change"}}>
      {{input id=user.username type="checkbox" checked=false}}
      <label>{{user.username}}</label>
      </div>
    {{/each}}


<button {{action 'getList'}}> Ver Lista </button>

{{outlet}}
